<nav style="position: fixed; top: 0; left: 0; right: 0; display: flex; justify-content: space-between; align-items: center; padding: 0 40px;     z-index: 10; /* Ensures the header stays on top */
">
    <!-- Left-most div -->
    <div style="display: flex; align-items: center; width: 30%;">
        <img src="../../assets/icons/listFuncs.svg" class="hand-pointer" style="max-height: 42.34px;"/>
        <img src="../../assets/icons/Logo.svg" class="hand-pointer" style="max-height: 27.16px;"/>
    </div>
  
    <!-- SearchBar Middle div -->
    <div style="position: relative; display: flex; align-items: center; width: 45%; min-width: 50px;">
        <!-- Input field -->
        <input id="searchInput" placeholder="Search" type="text" style="width: 100%; height: 30px; max-width: 574.39px; border-radius: 19.17px; border: 2px solid #B6B6B6; outline: none; padding-left: 17.575px; padding-right: 52.725px;">
        <!-- Search icon -->
        <img src="../../assets/icons/search.svg" style="position: absolute; right: 15px; height: 20px; pointer-events: none;">
    </div>

    <!-- Right-most div -->
    <div style="display: flex; align-items: center; justify-content: flex-end;">
        <img src="../../assets/icons/wishlist.svg" class="hand-pointer" style="max-height: 42.34px; padding-right: 10px;"/>
        <img src="../../assets/icons/cart.svg" class="hand-pointer" style="max-height: 38.35px; padding-right: 15px;"/>
        <img src="../../assets/icons/profile.svg" class="hand-pointer" style="max-height: 28px;"/>
    </div>
</nav>
