<nav id="footer">
    <div id="footer_info">
        <img src="../../assets/icons/reRead1color.svg" alt="ReRead Logo">
        <p><a href="#">168 Lê Lợi, Quận 3, TP HCM</a></p>
        <p><a href="#">Công Ty Cổ Phần Ri Rết TP HCM - ReRead</a></p>
        <p>ReRead.com is an online platform for buying and selling second-hand books, offering convenient delivery services</p>
        <img src="../../assets/icons/boCongThuong.svg" alt="Bộ Công Thương">
    </div>

    <div id="footer_services">
        <h2>Services</h2>
        <ul>
            <li><a href="#">Term of Use</a></li>
            <li><a href="#">Personal Data Privacy Policy</a></li>
            <li><a href="#">Payment Security Policy</a></li>
            <li><a href="#">About ReRead</a></li>
            <li><a href="#">Return, Exchange & Refund Policy</a></li>
            <li><a href="#">Warranty & Compensation Policy</a></li>
        </ul>
    </div>

    <div id="footer_acc">
        <h2>Account</h2>
        <ul>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Login / Register</a></li>
            <li><a href="#">Cart</a></li>
            <li><a href="#">Wishlist</a></li>
        </ul>
    </div>

    <div id="footer_contact">
        <h2>Contact</h2>
        <ul>
            <li>
                <img src="../../assets/icons/phone.svg" alt="Phone">
                <a href="tel:1900110325">1900110325</a>
            </li>
            <li>
                <img src="../../assets/icons/mail.svg" alt="Email">
                <a href="mailto:rereadsp&#64;
gmail.com">rereadsp&#64;gmail.com</a>
            </li>
            <li class="social-icons">
                <a href="#"><img src="../../assets/icons/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="../../assets/icons/instagram.svg" alt="Instagram"></a>
                <a href="#"><img src="../../assets/icons/youtube.svg" alt="YouTube"></a>
            </li>

        </ul>
    </div>
</nav>
